openapi: 3.1.0
info:
  title: HabitBuddy Bridge API
  version: 2026-02-20
  description: |
    API contract for HabitBuddy landing-pages Cloudflare Functions.

    Active checkout flows:
    - Main trial: Payment Element initialization + subscription activation
    - Gift purchase: Payment Element initialization + post-payment completion

    Notes:
    - Turnstile enforcement is runtime-configurable (`TURNSTILE_ENFORCEMENT`).
    - Legacy mutation routes are intentionally retired and return `410 Gone`.
servers:
  - url: https://tryhabitbuddy.com
    description: Production
  - url: https://{project}.pages.dev
    description: Cloudflare Pages preview
    variables:
      project:
        default: habitbuddy
tags:
  - name: checkout
    description: Payment Element and post-payment endpoints
  - name: security
    description: Runtime security and health endpoints
  - name: webhooks
    description: Stripe webhook receiver
  - name: legacy
    description: Retired routes kept for explicit deprecation responses
paths:
  /api/security-config:
    get:
      tags: [security]
      operationId: getSecurityConfig
      summary: Read runtime security config for frontend
      responses:
        "200":
          description: Security config fetched
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SecurityConfigResponse"

  /api/health:
    get:
      tags: [security]
      operationId: getHealth
      summary: Health and deployment mode status
      parameters:
        - $ref: "#/components/parameters/HealthKeyHeader"
      responses:
        "200":
          description: Health response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HealthResponse"

  /api/main-payment-element-init:
    post:
      tags: [checkout]
      operationId: initMainPaymentElement
      summary: Create a lead, Stripe customer, and SetupIntent for main trial flow
      parameters:
        - $ref: "#/components/parameters/TurnstileTokenHeader"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/MainPaymentElementInitRequest"
      responses:
        "200":
          description: SetupIntent initialized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MainPaymentElementInitResponse"
        "400":
          $ref: "#/components/responses/Error400"
        "403":
          $ref: "#/components/responses/Error403"
        "413":
          $ref: "#/components/responses/Error413"
        "415":
          $ref: "#/components/responses/Error415"
        "429":
          $ref: "#/components/responses/Error429"
        "500":
          $ref: "#/components/responses/Error500"

  /api/main-subscribe:
    post:
      tags: [checkout]
      operationId: activateMainSubscription
      summary: Activate subscription using an already-succeeded SetupIntent
      parameters:
        - $ref: "#/components/parameters/TurnstileTokenHeader"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/MainSubscribeRequest"
      responses:
        "200":
          description: Subscription activated (idempotent by setup intent)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MainSubscribeResponse"
        "400":
          $ref: "#/components/responses/Error400"
        "403":
          $ref: "#/components/responses/Error403"
        "413":
          $ref: "#/components/responses/Error413"
        "415":
          $ref: "#/components/responses/Error415"
        "429":
          $ref: "#/components/responses/Error429"
        "500":
          $ref: "#/components/responses/Error500"

  /api/gift-payment-element-init:
    post:
      tags: [checkout]
      operationId: initGiftPaymentElement
      summary: Capture gift lead and initialize PaymentIntent for gift checkout flow
      parameters:
        - $ref: "#/components/parameters/TurnstileTokenHeader"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/GiftPaymentElementInitRequest"
      responses:
        "200":
          description: PaymentIntent initialized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GiftPaymentElementInitResponse"
        "400":
          $ref: "#/components/responses/Error400"
        "403":
          $ref: "#/components/responses/Error403"
        "413":
          $ref: "#/components/responses/Error413"
        "415":
          $ref: "#/components/responses/Error415"
        "429":
          $ref: "#/components/responses/Error429"
        "500":
          $ref: "#/components/responses/Error500"

  /api/gift-payment-complete:
    post:
      tags: [checkout]
      operationId: finalizeGiftPayment
      summary: Finalize gift purchase post-payment and synchronize GHL entities
      parameters:
        - $ref: "#/components/parameters/TurnstileTokenHeader"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/GiftPaymentCompleteRequest"
      responses:
        "200":
          description: Gift flow finalized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GiftPaymentCompleteResponse"
        "400":
          $ref: "#/components/responses/Error400"
        "403":
          $ref: "#/components/responses/Error403"
        "413":
          $ref: "#/components/responses/Error413"
        "415":
          $ref: "#/components/responses/Error415"
        "429":
          $ref: "#/components/responses/Error429"
        "500":
          $ref: "#/components/responses/Error500"

  /api/stripe-webhook:
    post:
      tags: [webhooks]
      operationId: handleStripeWebhook
      summary: Verify and process Stripe webhook events
      parameters:
        - $ref: "#/components/parameters/StripeSignatureHeader"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      responses:
        "200":
          description: Webhook was received and processed (or safely ignored)
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        "400":
          $ref: "#/components/responses/Error400"
        "413":
          $ref: "#/components/responses/Error413"
        "500":
          $ref: "#/components/responses/Error500"

  /api/main-lead:
    post:
      tags: [legacy]
      operationId: retiredMainLead
      deprecated: true
      summary: Retired endpoint
      responses:
        "410":
          $ref: "#/components/responses/Error410"

  /api/gift-lead:
    post:
      tags: [legacy]
      operationId: retiredGiftLead
      deprecated: true
      summary: Retired endpoint
      responses:
        "410":
          $ref: "#/components/responses/Error410"

  /api/main-checkout-session:
    post:
      tags: [legacy]
      operationId: retiredMainCheckoutSession
      deprecated: true
      summary: Retired endpoint
      responses:
        "410":
          $ref: "#/components/responses/Error410"

  /api/gift-checkout-session:
    post:
      tags: [legacy]
      operationId: retiredGiftCheckoutSession
      deprecated: true
      summary: Retired endpoint
      responses:
        "410":
          $ref: "#/components/responses/Error410"

components:
  parameters:
    TurnstileTokenHeader:
      name: x-turnstile-token
      in: header
      required: false
      description: |
        Turnstile token generated in browser. Required when `TURNSTILE_ENFORCEMENT=required`.
      schema:
        type: string
        minLength: 1
    HealthKeyHeader:
      name: x-health-key
      in: header
      required: false
      description: "Optional health diagnostics key (HEALTH_STATUS_KEY)."
      schema:
        type: string
    StripeSignatureHeader:
      name: stripe-signature
      in: header
      required: true
      description: Stripe webhook signature header.
      schema:
        type: string
        minLength: 1

  responses:
    Error400:
      description: Bad request
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"
    Error403:
      description: Forbidden
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"
    Error410:
      description: Endpoint retired
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"
    Error413:
      description: Payload too large
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"
    Error415:
      description: Unsupported media type
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"
    Error429:
      description: Too many requests
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"
    Error500:
      description: Internal error
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"

  schemas:
    ErrorResponse:
      type: object
      required: [success, error]
      properties:
        success:
          type: boolean
          enum: [false]
        error:
          type: string
        details:
          description: Optional diagnostic details (normally omitted).
          nullable: true

    SecurityConfigResponse:
      type: object
      required: [success, turnstileEnabled, turnstileMode, turnstileSiteKey]
      properties:
        success:
          type: boolean
          enum: [true]
        turnstileEnabled:
          type: boolean
        turnstileMode:
          type: string
          enum: [off, optional, required]
        turnstileSiteKey:
          type: string

    HealthResponse:
      type: object
      required: [success, service, paymentsMode, timestamp]
      properties:
        success:
          type: boolean
        service:
          type: string
        paymentsMode:
          type: string
          description: "legacy, test, or live."
        timestamp:
          type: string
          format: date-time
        checks:
          type: object
          additionalProperties:
            type: boolean
          nullable: true

    MainPaymentElementInitRequest:
      type: object
      required: [first_name, phone, habit_focus, checkin_time]
      properties:
        first_name:
          type: string
          minLength: 1
          maxLength: 80
        email:
          type: string
          format: email
          maxLength: 254
        phone:
          type: string
          description: E.164 format string.
        habit_focus:
          type: string
          minLength: 1
          maxLength: 160
        checkin_time:
          type: string
          minLength: 1
          maxLength: 64
        plan_key:
          type: string
          default: main_trial
          pattern: "^[a-z0-9_]{1,40}$"

    MainPaymentElementInitResponse:
      type: object
      required:
        [success, publishableKey, clientSecret, setupIntentId, customerId, contactId, opportunityId, planKey]
      properties:
        success:
          type: boolean
          enum: [true]
        publishableKey:
          type: string
        clientSecret:
          type: string
        setupIntentId:
          type: string
        customerId:
          type: string
        contactId:
          type: string
        opportunityId:
          type: string
        planKey:
          type: string

    MainSubscribeRequest:
      type: object
      required: [setupIntentId]
      properties:
        setupIntentId:
          type: string
          pattern: "^seti_[A-Za-z0-9]+$"
        planKey:
          type: string
          pattern: "^[a-z0-9_]{1,40}$"
      additionalProperties: true

    MainSubscribeResponse:
      type: object
      required: [success]
      properties:
        success:
          type: boolean
          enum: [true]
        subscriptionId:
          type: string
        status:
          type: string
        planKey:
          type: string
        contactId:
          type: string
        opportunityId:
          type: string

    GiftPaymentElementInitRequest:
      type: object
      required: [sender_name, sender_email, recipient_name, recipient_phone, gift_duration]
      properties:
        sender_name:
          type: string
          minLength: 1
          maxLength: 120
        sender_email:
          type: string
          format: email
          maxLength: 254
        recipient_name:
          type: string
          minLength: 1
          maxLength: 120
        recipient_phone:
          type: string
        recipient_email:
          type: string
          format: email
          maxLength: 254
        gift_duration:
          type: string
          pattern: "^[a-z0-9_]{1,40}$"
          description: "Plan key (for example: gift_1m, gift_3m, gift_6m)."
        gift_message:
          type: string
          maxLength: 600

    GiftPaymentElementInitResponse:
      type: object
      required: [success, publishableKey, clientSecret, paymentIntentId, contactId, opportunityId, planKey]
      properties:
        success:
          type: boolean
          enum: [true]
        publishableKey:
          type: string
        clientSecret:
          type: string
        paymentIntentId:
          type: string
        contactId:
          type: string
        opportunityId:
          type: string
        planKey:
          type: string
        giftPriceId:
          type: string
        amount:
          type: number

    GiftPaymentCompleteRequest:
      type: object
      required: [paymentIntentId]
      properties:
        paymentIntentId:
          type: string
          pattern: "^pi_[A-Za-z0-9]+$"
        giftMessage:
          type: string
          maxLength: 600

    GiftPaymentCompleteResponse:
      type: object
      required: [success, paymentIntentId, status]
      properties:
        success:
          type: boolean
          enum: [true]
        paymentIntentId:
          type: string
        status:
          type: string
        gifterContactId:
          type: string
        recipientContactId:
          type: string
        opportunityId:
          type: string
        giftPlan:
          type: string
